<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  

    <link href="./static/assets/ps1.png" rel="icon">

  <title>PS</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./projects.html" title="">02 : Projects</a></li>
          <li><a href="./contact.html" title="">03 : Contact</a></li>
         
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./index.html" title="" class="active">001</a></li>
            <li><a href="./index.html" title="">002</a></li>
            <li><a href="./index.html" title="">003</a></li>
            <li><a href="./index.html" title="">004</a></li>
            <li><a href="./index.html" title="">005</a></li>
            <li><a href="./index.html" title="">006</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
<!--             <h1 class="h3">Anti-Theft Helmet system for Dockless Bike</h1> -->
                  <h1 style="font-size:30px;">Anti-Theft Helmet system for Dockless Bikes</h1>
          </div>
          <br>
           <h2 style="font-size:20px;">Synopsis:</h2>
           <br>
           <br>
            <p>Anti-Theft Helmet System provides a great support to a rental bike firm. Usually rental bike firms worried about providing quality bike service for the end users and they failed extremely to monitor the accessories of a rider such as Helmet etc. In this project we have found the solution using IOT to monitor Helmet in real-time.
            </p>
 
            <p>User Interface: HTML, CSS<br>
               Middleware:  PHP <br>
               Persistent Layer: MySQL <br>
            </p>
            <p>Hardware Interface:<br>
 NodeMCU 12-E,a Wi-Fi module<br>
 Arudino Uno-R3 Microcontroller<br>
 RC522 RFID module <br>
</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>